/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "../../node_modules/nes.css/css/nes.min.css";
body {
    background-color: #212529;
    font-family: "Press Start 2P", cursive;
}

.title {
    margin-bottom: 20px;
    color: #ddd
}

footer {
    text-align: center;
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
}